@import "tailwindcss" source(".");

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply bg-white dark:bg-gray-950;
	line-height: 1.5;
	text-rendering: optimizeLegibility;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

a,
button,
input,
select,
textarea,
summary {
	@apply transition;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
summary:focus-visible {
	outline: 2px solid #1E88E5;
	outline-offset: 2px;
}
